<header class="page-header" role="banner">
  <h1><%= t('.title') %></h1>
</header>

<main role="main">
  <p class="h4">
    <%= raw t('.prompt', client_name: content_tag(:strong, class: 'text-info') { @pre_auth.client.name }) %>
  </p>

  <% if @pre_auth.scopes.count > 0 %>
    <div id="oauth-permissions">
      <p><%= t('.able_to') %>:</p>

      <ul class="text-info">
        <% @pre_auth.scopes.each do |scope| %>
          <li><%= t scope, scope: [:doorkeeper, :scopes] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_tag oauth_authorization_path, method: :post do %>
      <%= hidden_field_tag :client_id_authorize, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri_authorize, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state_authorize, @pre_auth.state %>
      <%= hidden_field_tag :response_type_authorize, @pre_auth.response_type %>
      <%= hidden_field_tag :scope_authorize, @pre_auth.scope %>
      <%= hidden_field_tag :code_challenge_authorize, @pre_auth.code_challenge %>
      <%= hidden_field_tag :code_challenge_method_authorize, @pre_auth.code_challenge_method %>

      <%= label_tag(:user_email, "email") %>
      <%= email_field :user, :email %>

      <%= label_tag(:password, "password") %>
      <%= password_field_tag :password %>

      <%= button_tag t('doorkeeper.authorizations.buttons.authorize'), type: 'button', id: 'authorize_btn' %>
    <% end %>
    <%= form_tag oauth_authorization_path, method: :delete do %>
      <%= hidden_field_tag :client_id_deny, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri_deny, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state_deny, @pre_auth.state %>
      <%= hidden_field_tag :response_type_deny, @pre_auth.response_type %>
      <%= hidden_field_tag :scope_deny, @pre_auth.scope %>
      <%= hidden_field_tag :code_challenge_deny, @pre_auth.code_challenge %>
      <%= hidden_field_tag :code_challenge_method_deny, @pre_auth.code_challenge_method %>
      <%= submit_tag t('doorkeeper.authorizations.buttons.deny'), id: 'deny_btn' %>
    <% end %>
  </div>
</main>
